{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class='content-section'>
    <h2 class="border-bottom">Reset Password</h2>
    <p class=mt-3>You are authenticated as a valid user so you cannot reset your password. If you want to change your
        password,
        please click here<a href='{% url "password_change" %}'> here.</a></p>
</div>

{% else %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset password</legend>
            {{ form|crispy }}
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Request reset</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}